<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
</head>
<body>
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Movie Database</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-light btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
    <div class="media">
      <div class="media-left media-middle m-3">
        <a href="#">
          <img class="media-object img-fluid" onerror="this.src='No_Image__placeholder.png';" src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/<%= poster_path %>" alt="Image not found">
        </a>
      </div>
      <div class="media-body m-1">
        <h4 class="media-heading m-3 ml-5 pb-3 border-bottom"><p><%= title %></p></h4>
        <div class="m-3 ml-5 pb-3 border-bottom">
          <h6>Overview</h6>
          <p><%= overview %></p>
        </div>
        <div class="m-3 ml-5 pb-3 border-bottom">
          <h6>Genre(s)</h6>
          <% for (let i = 0; i < genres.length; i++) { %>
              <p style="display: inline-block"><%= genres[i].name %></p>
          <% }; %>
        </div>
        <div class="m-3 ml-5 pb-3 border-bottom">
          <h6>Runtime</h6>
          <p><%= runtime %></p>
        </div>
        <div class="m-3 ml-5 pb-3 border-bottom">  
          <h6>Release Date</h6>
          <p><%= release_date %></p>
        </div>
        <div class="m-3 ml-5 pb-3 border-bottom">
          <h6>Official Page</h6>
          <p><a href="<%= homepage %>" target="blank"><%= homepage %></a></p>
        </div>
      </div>
    </div> 
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
</body>
</html>